body{
    height: 100vh;
    background-image: linear-gradient(rgb(78, 148, 183),rgb(244, 147, 212));
}

header{
    text-align: center;
}

.display{
    display: flex;
    margin-left: 335px;
    align-items: center;
    justify-content: center;
    height: 45px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 75%;
    font-size: 15px;
}

.clear{
    height: 50px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 228px;
    width: 52%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.container{
    grid-gap: 5px;
    width: 560px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(4,1fr);
}

.container > *{
    background-color: rgb(232, 163, 94);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    border-radius: 5px;
}   