.card{
    /* width: 70%; */
    display: flex;
    background-color: rgba(159, 201, 239, 0.701);
    margin: 1rem;
    padding: 1rem 0rem;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    color: rgba(133, 101, 57, 0.568);
    box-shadow: 2px 2px 5px rgba(77, 71, 71, 0.461);
}

.card:hover{
    width: 90%;
}

.desc{
    padding: 2rem;
}
img{
    width: 40%;
}

button{
    border: 1px solid rgb(83, 144, 194);
    background-color: rgba(81, 155, 180, 0.776);
    margin: 2rem 0;
    padding:0.5rem 1rem;
    border-radius: 0.5rem;
    color: aliceblue;
    cursor: pointer;
}