<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML</title>
</head>
<body>
    <div class="container">
        <h2>HTML</h2>
        <p class="imp">We have learnt lots of things in HTML. We learnt about various tags, variuous input tags, form and its attributes. We also learnt about images and embedding media and so. </p>
        <p>Lorem, ipsum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi incidunt voluptas, veritatis error quisquam, nemo dicta earum, quod porro velit sit id provident at fugiat debitis nulla quidem facilis mollitia.
        Consectetur reprehenderit soluta aut culpa delectus quod magnam, impedit nesciunt cum in expedita nam laudantium laboriosam, esse asperiores voluptates placeat nisi, illo dolores sint pariatur quis id similique tenetur. Possimus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, eveniet! Alias architecto impedit natus repudiandae dolor illo. Provident aut tempora ex similique. Nam sint iste et reprehenderit amet id fuga? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, asperiores at! Architecto voluptatum eaque neque aliquam aliquid veritatis rerum, assumenda ratione aperiam? Ducimus tenetur velit odit quam enim harum hic. </p>
    </div>
</body>
</html>