.container{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(222, 208, 208, 0.737);
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(203, 55, 55, 0.628);
    box-shadow: 0px 2px 5px black;
    position: sticky;
    top: -10px;
}
.logo{
    flex:1;
    margin-left: 1rem;
}
.nav{
    flex: 1;
}
ul{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
}

li{
    display: flex;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
}