@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    margin:0;
    padding:0;
}

/* Fill your code*/

body{
    background-color: rgb(138, 184, 197);
}

.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

header{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(246, 13, 13);
    font-size: 1.5rem;
}

.mainWrap{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(182, 75, 75);
}

.leftSide,.rightSide{
    text-align: center;
    padding: 15px;
    border: 2px dashed brown;
}

h3{
    margin-bottom: 1rem;
}

button{
    cursor: pointer;
}

.buttons{
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.button{
    background-color: rgb(237, 192, 125);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#buy{
    background-color: rgb(105, 196, 105);
}

#reset{
    background-color: rgb(240, 74, 74);
}

.middle{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto; */
    transform: rotate(180deg);
}

.middle > *{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

#cakeBlock{
    border-radius: 5px;
}