html{
   background-image: linear-gradient(rgb(241, 156, 156),rgb(147, 147, 173));
}

body{
   background-image: url(images/image-lion-background.png);
   background-position: top center; 
   background-repeat: no-repeat;
   font-family: 'Roboto', sans-serif;
   color: white;
   font-size: 1.125rem;
}

a{
   color: aliceblue;
   text-decoration: none;
}

.container{
   width: 1024px;
   min-height: 300px;
   margin-left: auto;
   margin-right: auto;
}

header{
   display: flex;
   justify-content: space-between;
   min-height: 100px;
   align-items: center;
   margin-top: 20px;
   padding-bottom: 20px;
   border-bottom: 1px solid aliceblue ;
}

main{
   display: flex;
   min-height: 300px;
   align-items: center;
}

.herobox1{
   flex:2;
   padding-right: 100px;
}
.herobox2{
   flex: 1;
}

h1{
   font-size: 2.5rem;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin-bottom: 1rem;
   color: rgb(47, 83, 112);
   text-shadow: 3px 3px 8px rgba(32, 27, 27, 0.459);
}
h2{
   font-size: 1.5rem;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   margin-top: 20px;
}

p{
   line-height: 1.25rem;
   margin-bottom: 0.5rem;
}

.cards{
   display: flex;
   justify-content: space-between;
   min-height: 300px;
   text-align: center;
}

.cards p{
   font-size: 1rem;
   line-height: 1.2rem;
}

.cards a{
   text-decoration: none;
   color: aliceblue;
}

.card1{
   background-image: url(images/image-background-card1.jpg);
   width: 30%;
   height: 18rem;
   box-shadow: 3px 3px 13px rgba(47, 83, 112, 0.5);
}
.card2{
   background-image: url(images/image-background-card2.jpg);
   width: 30%;
   height: 18rem;
   box-shadow: 3px 3px 13px rgba(47, 83, 112, 0.5);
}
.card3{
   background-image: url(images/image-background-card3.jpg);
   width: 30%;
   height: 18rem;
   box-shadow: 3px 3px 13px rgba(47, 83, 112, 0.5);
}

.card1, .card2, .card3{
   padding: 30px 30px 20px 30px;
   box-sizing: border-box;
}

i{
   padding-top: 20px;
   font-size: 100px;
}

a.mybutton{
   font-size: 15px;
   background-color: aliceblue;
   border-radius: 5px;
   padding: 10px;
   display: inline-block;
   margin-top: 10px;
   color: rgb(241, 156, 156);
   box-shadow: 3px 3px 8px rgba(209, 123, 123, 0.459);
}

a.mybutton:hover{
   background-color: rgb(47, 83, 112);
   transition-duration: 0.5s;
}

.navbutton{
   padding: 6px 15px;
   border: 1px solid white;
   position: relative;
   display: inline-block;
}

.testimonials{
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 100px;
   justify-content: space-between;
}

.tbox{
   font-size: 1rem;
   width: 43%;
   border: 1px solid aliceblue;
   margin-top: 50px;
   padding: 30px 20px;
}

.tbox p:last-of-type{
   padding-left: 30px;
   font-size: 0.8rem;
}

.dropdown{
   display: none;
   position: absolute;
   z-index: 1;
   padding-top: 15px;
   text-align: center;
   margin-left: -16px;
}

.navbutton:hover .dropdown{
   display: block;
}

.dropdown .navbutton{
   width: 98px;
   background-color: aliceblue;
}

.dropdown .navbutton a{
   color: rgb(47, 83, 112);
   font-size: 15px;
}