<!DOCTYPE html>
<p>new-comp works!</p>
<p>{{num + sum}}</p>
<h1>{{myfunc()}}</h1>
<input type="text" placeholder="{{placeholder}}" [disabled] = "disabled" >

<h2 [class]="strClass">Hii I am Aakash </h2>
<h3 [class]="objClass">Hii I am Aakash </h3>
<h5 [class]="arrClass">Hii I am Aakash </h5>

<h6 [class.class2]="true">New Class</h6>

<p [style.color]="'red'">Hii This is Aakash </p>
<p [style.fontSize.rem]="'3'">Hii This is Aakash </p>
<p [style]="{
    color:'red',
    fontSize:'4rem'
}">Hii This is Aakash </p>
<p>Hii This is Aakash </p>
<p>Hii This is Aakash </p>
<p>Hii This is Aakash </p>
