body{
    background-image: linear-gradient(rgb(181, 106, 137),rgb(117, 147, 184));
    background-attachment: fixed;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: aliceblue;
    padding: 0.7rem 2.3rem;
}

header{
    display: flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.2rem 0.4rem;
    cursor: pointer;   
    color: gray; 
}

.container img{
    width: 4rem;
    filter: invert(50%);
}

.grid-container{
    display: flex;
}

.main-content{
    flex: 2;
}

.main-content h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-content p {
    margin-top: -1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aside{
    flex: 1;
    padding: 2rem;
}

input{
    width: 100%;
    margin: 5px 0px;
    border: 2px solid rgba(228, 133, 133, 0.779);
    border-radius: 5px;
    padding: 10px 0px;
}

label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;
}

#description{
    padding-bottom: 100px;
}

.button{
    float: right;
    margin: 0.2rem 0rem;
    background-color: rgba(181, 106, 137, 0.712);
    padding: 0.4rem;
    color: aliceblue;
    border: 2px solid rgb(117, 147, 184);
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    color: rgba(181, 106, 137, 0.712);
    background-color: aliceblue;
}